// draft 1.11
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      function verifiedEmail(){
        return request.auth.token.email_verified == true
      }
      function isAdmin(){
        return resource.data.role == "Admin" 
      }
      function allowSignup(){
        return request.auth.token.email != null  
      }
      function isOwner(){
        return request.auth.uid == userId
      }
      function isAdjudicator(){
        return resource.data.role == "Adjudicator"
      }
      function isTeamCoordinator(){
        return resource.data.role == "Team Coordinator"
      }
      function isAdjudicatorCoordinator(){
        return resource.data.role == "Adjudicator Coordinator"
      }
      allow create: if allowSignup();
      allow create, read, update, delete: if isAdmin() && verifiedEmail();
      allow read, update: if isOwner() && (isAdjudicator() || isTeamCoordinator() || isAdjudicatorCoordinator());
    }
  }
}