rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

// While the rules havent changed, this allows for easy testing, the rules below will be what the first version of what the production will hold
// rules_version = '2';
// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /users/{userId} {
//       function verifiedEmail(){
//         return request.auth.token.email_verified == true
//       }
//       function isAdmin(){
//         return  request.resource.data.role == "Admin" 
//       }
//       function allowSignup(){
//         return request.auth.token.email != null  
//       }
//       function isOwner(){
//         return request.auth.uid == userId
//       }
//       function isAdjudicator(){
//         return request.resource.data.role == "Adjudicator"
//       }
//       function isTeamCoordinator(){
//         return request.resource.data.role == "Team Coordinator"
//       }
//       function isAdjudicatorCoordinator(){
//         return request.resource.data.role == "Adjudicator Coordinator"
//       }
//       allow create: if allowSignup();
//       allow create, read, update, delete: if isAdmin() && verifiedEmail();
//       allow read, update: if isOwner() && (isAdjudicator() || isCoordinator() || isAdjudicatorCoordinator());
//     }
//   }
// }